@import "variables";


.styling{
  background-color: $background-color;
  // margin-top: 10px;
  height: 140px;


  .custom-select{
    color: $text-color;

  }
  select{
    margin: 10px 10px;
    width: 170px;
    border: 0px;
    font-size: 16px;
    font: $font;
  }

  option[value~="1"]{
    color: $one;
  }

  hr{
    height: 0;
    border-style: ridge;
  }
}





// .styling{
//   background: #c9fcb5;
// }
//
// button{
//   border-radius: 3px;
//   padding: 5px;
//   font-size: 16px;
// }
//
// .custom-select{
//   width: 1330px;
// }
//
// .font{
//   font-size: 18px;
// }
//
//
// .tabcontent{
//   margin: 10px;
//   font-size: 30px;
// }
