@import "variables";

// .styling{
//
// }


.styling{
  background-color: $background-color;
  margin-top: 10px;
  .option{
    color: $text-color;
    font-size: 16px;
  }
  .custom-select{
    margin: 10px;
    width: 1330px;


  }
}





// .styling{
//   background: #c9fcb5;
// }
//
// button{
//   border-radius: 3px;
//   padding: 5px;
//   font-size: 16px;
// }
//
// .custom-select{
//   width: 1330px;
// }
//
// .font{
//   font-size: 18px;
// }
//
//
// .tabcontent{
//   margin: 10px;
//   font-size: 30px;
// }
