@import "variables";


.styling{
  background-color: $background-color;
  // margin-top: 10px;
  height: 180px;
  width: 200px;


  .custom-select{
    color: $text-color;
  }

  select{
    margin: 10px 10px;
    width: 170px;
    border: 0px;
    font-size: 16px;
    font: $font;
  }
  select:hover{
    border: 1px solid #000000;
  }

  option[value~="1"]{
    color: $one;
  }

  hr{
    height: 0;
    border-style: ridge;
  }

  button{
    float: right;
    font-size: 16px;
    font: $font;
    color: $text-color;
    margin-right: 10px;
    -webkit-appearance: button;

  }
  button:hover{
    border: 1px solid #000000;
  }
}





// .styling{
//   background: #ceedc2;
// }
//
// button{
//   border-radius: 3px;
//   padding: 5px;
//   font-size: 16px;
// }
//
// .custom-select{
//   width: 1330px;
// }
//
// .font{
//   font-size: 18px;
// }
//
//
// .tabcontent{
//   margin: 10px;
//   font-size: 30px;
// }
