//variables

//colors

  $background-color:  #e8fce0;

  //text colors. Numbers are associated with colorSelectionBox values 1-4
  $text-color: #121900;
  $one: #121900;
  $two: #000128;
  $three: #080808;
  //actual color
//fontface
  $font: 'Montserrat', sans-serif;

//box Size
